
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap');

html{
  width: 100%;
  /*height: 100%;*/
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  /*height: 100%;*/
  margin:0;
  background:#111;
  color:#aaa;
}

.rs-container {
  background: black;
  width: 100%;
}

.app-title {
  font-family:'Open Sans', sans-serif;
  text-align:center;
  font-weight:400;
  text-transform:uppercase;
  color:#eee;
  letter-spacing:6px;
  font-size: large;
  padding:4px;
}
